# Core Dependencies
streamlit==1.23.0        # Streamlit for the app
pandas==2.0.1            # Data handling
numpy==1.23.0          # Numerical operations
scikit-learn==1.2.2      # Machine learning models
joblib==1.3.0            # Loading models saved with joblib
matplotlib==3.7.1        # Visualization
seaborn==0.12.2          # Statistical data visualization
